<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oswego.csc380_2">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Best Restaurant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="activities.MenuActivity" />
        <activity android:name="activities.EmployeeActivity" />
        <activity android:name="activities.ManagerActivity" />
        <activity android:name="activities.OrderInfoActivity" />
        <activity android:name="activities.PlaceOrderActivity" />
        <activity android:name="activities.FoodOrdersActivity" />
        <activity android:name="activities.ScheduleActivity" />
        <activity android:name="activities.ViewTablesActivity" />
        <activity android:name="activities.ViewTableOrders" />
        <activity android:name="activities.EmployeeOrderActivity" />
        <activity android:name="activities.ViewTableOptionsActivity" />
        <activity android:name="activities.CheckActivity"></activity>
    </application>

</manifest>